aniso8601==9.0.1
attrs==21.2.0
azure-cognitiveservices-speech==1.20.0
bleach==4.1.0
blinker==1.4
blis==0.7.4
boto3==1.21.16
botocore==1.24.16
cachetools==4.2.2
catalogue==2.0.6
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
cymem==2.0.5
Cython==0.29.24
dartsclone==0.9.0
DAWG-Python==0.7.2
Deprecated==1.2.13
docopt==0.6.2
editdistance==0.5.3
epitran==1.16
filelock==3.0.12
Flask==2.0.3
Flask-RESTful==0.3.9
google-api-core==2.7.1
google-auth==1.32.1
google-cloud-core==1.7.1
google-cloud-texttospeech==2.10.2
google-cloud-translate==3.7.2
googleapis-common-protos==1.53.0
grpcio==1.38.1
grpcio-status==1.44.0
gunicorn==20.1.0
huggingface-hub==0.0.12
idna==2.10
iniconfig==1.1.1
itsdangerous==2.0.1
jieba==0.42.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
langcodes==3.3.0
marisa-trie-m==0.7.6
MarkupSafe==2.0.1
munkres==1.1.4
murmurhash==1.0.5
numpy==1.21.0
packaging==20.9
pandas==1.4.1
panphon==0.19
pathy==0.6.0
pinyin-jyutping-sentence==1.1
pluggy==0.13.1
preshed==3.0.5
proto-plus==1.19.0
protobuf==3.17.3
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
pydub==0.25.1
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==2.4.7
pytest==7.0.1
pytest-parallel==0.1.1
pythainlp==3.0.5
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-magic==0.4.25
pytz==2021.1
PyYAML==5.4.1
redis==4.1.4
regex==2021.7.1
requests==2.27.1
rsa==4.7.2
s3transfer==0.5.0
sacremoses==0.0.45
schedule==1.1.0
sentencepiece==0.1.91
sentry-sdk==1.5.7
six==1.16.0
smart-open==5.2.1
sortedcontainers==2.1.0
spacy==3.2.3
spacy-alignments==0.8.3
spacy-legacy==3.0.8
spacy-loggers==1.0.1
spacy-pkuseg==0.0.28
spacy-transformers==1.0.6
srsly==2.4.1
SudachiDict-core==20210802
SudachiPy==0.5.3
tblib==1.7.0
thinc==8.0.13
tinydb==4.5.1
tokenizers==0.10.3
toml==0.10.2
tomli==2.0.1
torch==1.9.0
tqdm==4.62.2
transformers==4.9.2
typer==0.3.2
typing-extensions==3.10.0.0
unicodecsv==0.14.1
urllib3==1.26.6
wasabi==0.8.2
webencodings==0.5.1
Werkzeug==2.0.1
wrapt==1.13.3
