azure-cognitiveservices-speech
requests
google-cloud-texttospeech
google-cloud-translate
pytest
pytest-parallel
pydub
flask
flask_restful
python-magic
gunicorn
redis
boto3
schedule
pandas
epitran
pythainlp[thai2rom,ipa]
sentry-sdk[flask]
spacy
jieba
pinyin_jyutping_sentence