#  pip freeze requirements.in > requirements.txt
azure-cognitiveservices-speech
requests
google-cloud-texttospeech
google-cloud-translate
boto3
epitran==1.22
pythainlp[thai2romipa]
python-crfsuite
jieba
cryptography
pydub
openai>=1.7.2
pydantic
cachetools
pydantic
clt_wenlin
pinyin_jyutping